.container{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    height: 4.375rem;
    padding: 0 10px;

    background: var(--gray-800);
    color: var(--gray-300);
}

.white-text{
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray-100);
}

.options {
    display: flex;
    align-items: center;
    gap: 1rem;
    li {
        list-style: none;
        text-transform: uppercase;
        cursor: pointer;
    }

}

.home-button {
    cursor: pointer;
}


.welcome-title{
    color: var(--gray-300);
    padding-bottom: 0px;
    margin-bottom: 0px;
}