.container{
    padding: .625rem;
    
    background: var(--gray-700);
    border: 1px solid var(--gray-800);
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.title{
    font-size: 1.125rem;
    font-weight: bold;
}